* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a2d2ff;
}

header#main_header {
    background-color: #dddddd;
    width: 100%;
    max-width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#score_game {
    background-color: #61b1ea;
    border-radius: 30px;
    color: white;
    padding: 5px 50px;
    font-size: 20px;
    margin-left: 15px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}

#score_game img {
    width: 20px;
}

#name_game {
    font-weight: bolder;
    font-size: 27px;
    margin-right: 20px;
}

section#body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

@media screen and (max-width: 750px) {
    header#main_header {
        justify-content: space-evenly;
    }

    #score_game {
        padding: 5px 20px;
    }

    #score_game p span{
        display: inline;
        font-size: 20px;
        color: #000000;
    }

    #score_game p{
        font-size: 0;
    }

    #name_game {
        font-weight: bolder;
        font-size: 20px;
        margin-right: 20px;
    }

    
    section#body div#right img {
        display: none;
    }

}
section#body div#left {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

section#body div#left div#current_color {
    margin-top: 20px;
    height: 200px;
    width: 200px;
    border: 10px solid #000000;
    border-radius: 15px;
}

section#body div#left button#btn_respond {
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 25px;
    font-weight: bold;
    padding: 15px 45px;
    cursor: pointer;
}

section#body div#right img {
    height: 360px;
}

div#container footer#footer{
    background: rgb(26, 26, 32);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div#container footer#footer img{
    height: 90px;
}